---
layout: layout.liquid
title: "Planetary Playing Cards"
---

{% planet-cards 'star large-card' 'Sun' 'Type G2V' '200px' '#FFD700' %}

<div class="planet-grid">
  {% planet-cards 'planet' 'Mercury' '0.39 AU' '60px' '#A9A9A9' %}
  {% planet-cards 'planet' 'Venus' '0.72 AU' '70px' '#D2B48C' %}
  {% planet-cards 'planet' 'Earth' '1.00 AU' '75px' '#1E90FF' %}
  {% planet-cards 'planet' 'Mars' '1.52 AU' '65px' '#FF4500' %}
  {% planet-cards 'planet' 'Jupiter' '5.20 AU' '110px' '#DAA520' %}
  {% planet-cards 'planet' 'Saturn' '9.54 AU' '100px' '#F4A460' %}
  {% planet-cards 'planet' 'Uranus' '19.2 AU' '90px' '#AFEEEE' %}
  {% planet-cards 'planet' 'Neptune' '30.1 AU' '88px' '#4682B4' %}
</div>
