:root {
  --background-color: #333;
  --text-color: #fff;
  --card-bg-color: #444;
  --card-border-radius: 12px;
  --font-family: Arial, sans-serif;
  --hover-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

header {
  text-align: center;
  padding: 20px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr; 
  grid-template-rows: auto auto; 
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  align-items: stretch; 
}



.large-card {
  grid-row: span 2;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96.4%; 
  padding: 20px; 
  box-sizing: border-box; 
}



.planet-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: auto auto; 
  gap: 20px;
}


.card {
  background-color: var(--card-bg-color);
  border-radius: var(--card-border-radius);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--hover-shadow);
}

.planet-avatar {
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
}
